<div>
<div>
	<button id="click"> Click </button>
</div>
<b>Bob</b>, I'm <b>20</b> years old, I like 
<b>programming</b>
<b>
	<%=pcontent%>
</b>
<div id="infor">
	<%
		var vitems = param.result;
		var vpix = "";
		for(var vitem in vitems){
				vpix += "<div class='divitem'>";
				vpix += "<div class='innerdiv'>";
				vpix +="<li>"+"uid :"+vitems[vitem]['uid']+"</li>";
				vpix +="<li>"+"name :"+vitems[vitem]['name']+"</li>";
				vpix +="<li>"+"sex :"+vitems[vitem]['sex']+"</li>";
				vpix +="<li>"+"email :"+vitems[vitem]['email']+"</li>";
				vpix +="<li>"+"createtime :"+vitems[vitem]['createtime']+"</li>";
				vpix +="<li>"+"updatetime :"+vitems[vitem]['updatetime']+"</li>";
				vpix += "</div>";
				vpix += "</div>";	
		}
		return vpix;
	%>
	
</div>
</div>